  <span>Filter:</span>
  <div class="container row">
    <input class="form-control col-sm" type="text" name="searchTerm1" placeholder="Filter by user email"
      [(ngModel)]="searchTerm1" (input)="searchByEmail($event.target.value)" />
    <input class="form-control col-sm" type="text" name="searchTerm2" placeholder="Filter by first name"
      [(ngModel)]="searchTerm2" (input)="searchByFirstName($event.target.value)" />
    <input class="form-control col-sm" type="text" name="searchTerm3" placeholder="Filter by last name"
      [(ngModel)]="searchTerm3" (input)="searchByLastName($event.target.value)" />
    <input class="form-control col-sm" type="text" name="searchTerm4" placeholder="Filter by place of work"
      [(ngModel)]="searchTerm4" (input)="searchByPlaceOfWork($event.target.value)" />
    <input class="form-control col-sm" type="text" name="searchTerm5" placeholder="Filter by education"
      [(ngModel)]="searchTerm5" (input)="searchByEducation($event.target.value)" />
  </div>
  <div><span>By skill:</span></div>
  <div>
    <select class="form-control" id="skillItems" [(ngModel)]="skillId">            
        <option *ngFor="let s of skills" value={{s.id}}>{{s.name}}</option>
    </select>
    <input type="button" value="Search" (click)="loadUsersBySkill()" class="btn btn-sm btn-success" />
  </div>
  <div><span>By role:</span></div>
  <div>
    <select class="form-control" id="roleItems" [(ngModel)]="role.name">            
        <option *ngFor="let r of roles" value={{r.name}}>{{r.name}}</option>
    </select>
    <input type="button" value="Search" (click)="loadUsersInRole()" class="btn btn-sm btn-success" />
  </div>
<h1>User list</h1>
<div>
    <input type="button" value="Get all users" (click)="loadAllUsers()" class="btn btn-info" />
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Email</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Place of work</td>
            <td>Education</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u?.email}}</td>
            <td>{{u?.firstName}}</td>
            <td>{{u?.lastName}}</td>
            <td>{{u?.placeOfWork}}</td>
            <td>{{u?.education}}</td>
        </tr>
    </tbody>
</table>
 