<h1>User Skill list</h1>
<input type="button" value="Добавить" class="btn btn-info" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>Skill</td>
            <td>Knowledge Level</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of userSkills">
            <ng-template [ngIf]="userSkill?.id != u.id" [ngIfElse]="edit">
                <td>{{u?.skill.name}}</td>
                <td>{{u?.knowledgeLevel.name}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editSkill(u)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(u)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>
 
<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <select class="form-control" id="skillItems" [(ngModel)]="userSkill.skillId">            
            <option *ngFor="let s of skills" value={{s.id}}>{{s.name}}</option>
          </select>
    </td>
    <td>
        <select class="form-control" id="KnowledgeLevelItems" [(ngModel)]="userSkill.knowledgeLevelId">            
            <option *ngFor="let k of knowledgeLevels" value={{k.id}}>{{k.name}}</option>
          </select>
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>
 
<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>Skill</label>
        <select class="form-control" id="skillItems" [(ngModel)]="userSkill.skillId">            
            <option *ngFor="let s of skills" value={{s.id}}>{{s.name}}</option>
          </select>
    </div>
    <div class="form-group">
        <label>KnowledgeLevel</label>
        <select class="form-control" id="KnowledgeLevelItems" [(ngModel)]="userSkill.knowledgeLevelId">            
            <option *ngFor="let k of knowledgeLevels" value={{k.id}}>{{k.name}}</option>
          </select>
    </div>   
    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>